.itemComponent {
    cursor: grab;
    display: flex;
    grid-gap: 10px;
    user-select: none;
    border-radius: 8px;
    align-items: center;
    padding: 0 9px 0 7px;
    background: var(--navy);
    border: 1px solid var(--background);
    transition: opacity var(--transition);
    &.itemStatus_Active {
        background: var(--blueactivedark);
        .itemName {
            font-style: italic;
            padding-right: 5px;
        }
    }
    &.itemStatus_Done {
        font-weight: 700;
        background: white;
        color: var(--background);
        .itemName {
            font-style: italic;
            padding-right: 5px;
            text-decoration: line-through;
            text-decoration-color: var(--background);
        }
    }
    .itemInner {
        flex: 1 1 0%;
        display: flex;
        grid-gap: 10px;
        align-items: center;
        justify-content: space-between;
    }
    .borderedItmField {
        stroke-linecap: round;
        border-bottom: 2px solid var(--main);
    }
    .itemStart {
        flex: 1;
        display: flex;
        grid-gap: 8px;
        flex-direction: column;
    }
    .itemTypeIndexImages {
        .itemTypeIndex {
            width: auto; 
            height: 25px; 
            border: none; 
            font-size: 12px;
            border-radius: 4px; 
            .itemTypeIcon {
                max-height: 15px;
            }
            &.itemNumberIndex {
                &.medItmIndx {
                    @extend .borderedItmField;
                }
            }
        }
        img {
            object-fit: cover;
            object-position: center;
            min-width: 106px !important;
            max-width: 106px !important;
        }
    }
    .itemName {
        top: -3px;
        position: relative;
        padding-bottom: 3px;
        @extend .borderedItmField;
        transition: var(--transition);
    }
    .itemEndContainer {
        display: flex;
        grid-gap: 10px;
        flex-direction: column;
    }
    .itemDeleteButton {
        padding: 0px;
        color: inherit;
        cursor: pointer;
        min-width: 35px;
        max-width: 35px;
        min-height: 35px;
        border-radius: 4px;
        background: var(--bg);
        border: 0px solid rgb(68, 68, 68);
    }
    &:has(.itemEndDateTag) {
        .itemEnd {
            justify-content: flex-end;
        }
    }
}