.itemComponent {
    .itemTypeIndexImages {
        .itemTypeIndex {
            width: auto; 
            height: 25px; 
            border: none; 
            font-size: 12px;
            border-radius: 4px; 
            .itemTypeIcon {
                max-height: 15px;
            }
        }
        img {
            object-fit: cover;
            object-position: center;
            max-width: 106px !important;
        }
    }
    .itemName {
        padding-bottom: 3px;
        stroke-linecap: round;
        border-bottom: 2px solid var(--main);
    }
}