.slider {
    width: 100%;
    &:has(.sliderButton) {
        gap: 15px;
        display: grid;
        grid-template-columns: minmax(auto, 45px) 1fr minmax(auto, 45px);
    }
}

.swiper {
    width: 100%;
}

.swiper-slide {
    cursor: grab;
    display: flex;
    grid-gap: 15px;
    flex-direction: column;
    justify-content: center;
    &:active {
        cursor: grabbing;
    }
}

.sliderButton {
    font-size: 24px !important; 
    min-width: unset !important;
}