.checkboxMultiComponent {
    --bgColor: white;
    --fontColor: black;
    font-family: var(--font);
    &.hasValue {
        label {
            top: -15px;
            left: -15px;
            font-weight: 600;
            color: var(--bgColor);
        }
    }
    label {
        top: -7px;
        color: var(--disabled);
        font-family: var(--font);
        &.Mui-focused {
            top: -15px;
            left: -15px;
            font-weight: 600;
            color: var(--links);
        }
    }
    .checkboxMultiField {
        .MuiInputBase-root {
            padding: 0;
            padding-top: 1px;
            padding-left: 1px;
            padding-bottom: 1px;
            background: var(--bgColor);
            .MuiAutocomplete-tag {
                color: white;
                max-height: 30px;
                background: var(--links);
                svg {
                    path {
                        fill: white;
                    }
                }
            }
            input {
                color: var(--fontColor);
            }
        }
    }
}