.checkboxMultiComponent {
    --bgColor: white;
    --fontColor: black;
    font-family: var(--font);
    .input_hasValue {
        input {
            top: 2px;
        }
    }
    input {
        padding: 7.5px 4px 12.5px 11px !important;
    }
    &.hasValue {
        label {
            top: -13px;
            left: -15px;
            font-weight: 600;
            color: var(--bgColor);
        }
    }
    label {
        top: -6px;
        color: var(--disabled);
        font-family: var(--font) !important;
        &.Mui-focused {
            top: -15px;
            left: -15px;
            font-weight: 600;
            color: var(--links);
        }
    }
    .checkboxMultiField {
        .MuiInputBase-root {
            padding: 0;
            padding-top: 1px;
            padding-left: 1px;
            padding-bottom: 1px;
            background: var(--bgColor);
            .MuiAutocomplete-tag {
                color: white;
                max-height: 30px;
                font-weight: bolder;
                background: var(--links);
                font-family: var(--font) !important;
                svg {
                    &:not(.changesIndicator) {
                        path {
                            fill: white;
                        }
                    }
                }
            }
            input {
                color: var(--fontColor);
            }
        }
    }
}