@use 'public/styles/mui';
@use 'public/styles/theme';
@use 'public/styles/forms';
@use 'public/styles/toasts';
@use 'public/styles/utility';
@use 'public/styles/responsiveness';

:root {
  --background: white;
  --foreground: #04397b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #04397b;
    --foreground: white;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  min-height: 100dvh;
  font-family: var(--font);
  color: var(--foreground);
  background: var(--background);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}