.stockFlex {
    display: flex;
    grid-gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.stockDetails {
    font-size: 1.25em;
}

.stockName {
    min-width: fit-content;
}

.stockLink {
    .stockText {
        z-index: 1;
        transition: var(--transition);
    }
    &:hover {
        .stockText {
            color: white;
        }
    }
    &::before {
        bottom: 0;
        height: 100%;
        border-radius: 15px;
        background: var(--buttons);
    }
}

.stockContainer {
    .stock {
        @extend .stockFlex;
        grid-gap: 2px;
        flex-direction: column;
        .stockRow {
            @extend .stockFlex;
            padding: 0;
        }
        .stockPrice {
            @extend .stockFlex;
            padding: 0;
            grid-gap: 2px;
            &:has(.changes_positive) {
                grid-gap: 5px;
            }
        }
        .stockImage {
            display: flex;
            align-items: center;
        }
    }
}