.gridded {
    .table_header {
        width: 99.5% !important;
    }
}

.userGridCard {
    .storeGridCardMetrics {
        grid-template-columns: 1fr 0.78fr;
    }
}

.announcementGridCard {
    .storeGridCardHero {
        .dropDownBtnLabel {
            display: none !important;
        }
    }
    .storeGridCardMetrics {
        grid-template-columns: .51fr 1fr;
    }
    .tableGridField-updated {
        font-size: 15px;
    }
}

.orderGridCard {
    .storeGridCardField {
        &:has(.tableGridField-description) {
            min-height: 66px;
        }
    }
    .storeGridCardMeta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.tableGridCardSlot {
    &:has(.featured) {
        grid-column: 1 / -1;
        .dataDisplayCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            .productGridCardMedia {
                max-width: 30%;
            }
        }
    }
}

.productGridCardMetrics {
    grid-template-columns: .75fr 1fr !important;
}