.gridded {
    .table_header {
        width: 99.5% !important;
    }
}

.orderGridCard {
    .storeGridCardField {
        &:has(.tableGridField-description) {
            min-height: 66px;
        }
    }
    .storeGridCardMeta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.tableGridCardSlot {
    &:has(.featured) {
        grid-column: 1 / -1;
        .dataDisplayCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            .productGridCardMedia {
                max-width: 30%;
            }
        }
    }
}