.MuiList-root {
    padding: 0 !important;
}

.MuiPaper-root {
    background: var(--background) !important;
    &:has(.dialogCustom) {
        --ht: 150px;
        --wd: 350px;
        width: var(--wd) !important;
        height: var(--ht) !important;
        min-width: var(--wd) !important;
        max-width: var(--wd) !important;
        min-height: var(--ht) !important;
        max-height: var(--ht) !important;
        .dialogCustom {
            width: var(--wd) !important;
            height: var(--ht) !important;
            min-width: var(--wd) !important;
            max-width: var(--wd) !important;
            min-height: var(--ht) !important;
            max-height: var(--ht) !important;
        }
    }
}

.MuiMenuItem-root {
    color: white !important;
    font-size: 13px !important;
    min-height: 34px !important;
    padding: 6px 10px !important;
    transition: var(--transition);
    &.noColors {
        .MuiSvgIcon-root {
            color: var(--links);
        }
    }
    .MuiSvgIcon-root {
        font-size: 20px;
        margin-right: 10px;
    }
    &:hover {
      background: var(--buttons) !important;
    }
    &:active {
      background: var(--links) !important;
    }
}

.MuiDivider-root {
    opacity: 0.8;
    margin: 0 !important;
    border-color: var(--links) !important;
}

.MuiDialog-root {
    .MuiBackdrop-root {
        backdrop-filter: blur(5px);
    }
    .MuiPaper-root {
        min-width: 95%;
        min-height: 75%;
        align-items: center;
        background: var(--navy);
        justify-content: center;
        --Paper-shadow: 0px 11px 15px -7px rgb(0 0 0), 0px 24px 38px 3px rgb(0 0 0), 0px 9px 46px 8px rgb(0 0 0) !important;
        @media (max-width: 995px) {
            min-width: 90%;
        }
    }
}

.MuiBottomNavigation-root {
    height: 30px !important;
    background: transparent !important;
}

.MuiAutocomplete-noOptions {
    color: white !important;
    font-family: var(--font) !important;
}

.MuiOutlinedInput-notchedOutline {
    legend {
        width: 0;
    }
}

[data-option="checkboxMultiLi"] {
    --checkbox-multi-height: 30px;
    padding: 0;
    height: var(--checkbox-multi-height);
    min-height: var(--checkbox-multi-height);
    max-height: var(--checkbox-multi-height);
}

.iconButton {
    background: var(--blueopac) !important;
    svg {
        path {
            fill: white;
        }
    }
}

.MuiTooltip-arrow {
    color: var(--blueopac) !important;
}

.MuiTooltip-tooltip {
    backdrop-filter: blur(15px);
    background: var(--blueopac) !important;
}

.MuiTouchRipple-root {
    transition: var(--transition);
}

.MuiButton-root {
    color: white !important;
    text-transform: none !important;
    background: var(--buttons) !important;
    transition: var(--transition) !important;
}

.dialogConfirm {
    .dialogConfirmButton {
        --color: red !important;
        --buttons: var(--color) !important;
    }
}

.MuiDataGrid-overlay {
    color: white;
}

.MuiDataGrid-root {
    --DataGrid-t-color-border-base: var(--buttons) !important;
    --DataGrid-t-color-background-base: var(--navy) !important;
    --DataGrid-t-header-background-base: var(--navy) !important;
    --DataGrid-t-color-background-overlay: var(--navy) !important;
    --DataGrid-t-color-background-backdrop: var(--dark_navy) !important;
    .MuiDataGrid-cell, .MuiDataGrid-footerContainer, .MuiDataGrid-columnHeaderTitle, .MuiTablePagination-root {
        color: white !important;
    }
    // .MuiDataGrid-toolbar .MuiSvgIcon-root, .MuiDataGrid-toolbarContainer .MuiSvgIcon-root, .MuiTablePagination-root .MuiSvgIcon-root, .MuiDataGrid-columnHeaders button .MuiSvgIcon-root {
    //     color: white !important;
    // }
    .MuiDataGrid-toolbar .MuiSvgIcon-root, .MuiDataGrid-toolbarContainer .MuiSvgIcon-root, .MuiTablePagination-root .MuiSvgIcon-root, .MuiDataGrid-columnHeaders button .MuiSvgIcon-root, .MuiCheckbox-root {
        color: var(--links) !important;
    }
}