.MuiAutocomplete-noOptions {
    color: white !important;
    font-family: var(--font) !important;
}

.MuiOutlinedInput-notchedOutline {
    legend {
        width: 0;
    }
}

[data-option="checkboxMultiLi"] {
    --checkbox-multi-height: 30px;
    padding: 0;
    height: var(--checkbox-multi-height);
    min-height: var(--checkbox-multi-height);
    max-height: var(--checkbox-multi-height);
}

.iconButton {
    background: var(--blueopac) !important;
    svg {
        path {
            fill: white;
        }
    }
}

.MuiTooltip-arrow {
    color: var(--blueopac) !important;
}

.MuiTooltip-tooltip {
    background: var(--blueopac) !important;
}

.MuiTouchRipple-root {
    transition: var(--transition);
}

.MuiButton-root {
    color: white !important;
    text-transform: none !important;
    background: var(--buttons) !important;
    transition: var(--transition) !important;
}