$mobileBreakPoint3: 320px;
$mobileBreakPoint4: 400px;
$mobileBreakPoint425: 425px;
$mobileBreakPoint435: 435px;
$mobileBreakPoint450: 450px;
$mobileBreakPoint480: 480px;
$mobileBreakPoint515: 515px;
$mobileBreakPoint585: 585px;
$mobileBreakPoint6: 687px;
$mobileBreakPoint7: 768px;

$mobileBreakPoint875: 875px;

$tabletBreakPoint9: 992px;
$tabletBreakPoint10: 1080px;

$laptopBreakPoint12: 1200px;
$laptopBreakPoint13: 1366px;

$desktopBreakPoint16: 1600px;
$desktopBreakPoint19: 1920px;

.showOnMobile {
    display: none;
}

html {
    container-type: inline-size;

    body {
        container-type: inline-size;
        grid-template-rows: auto 1fr 60px;
    }

    header {
        z-index: 2;
        padding-top: 15px;
        overflow-y: hidden;
        container-type: inline-size;
        justify-content: flex-start !important;
        transition: height 300ms var(--transitionalt);
        .headerInner {
            height: unset;
            max-height: 60px;
            min-height: unset;
            container-type: inline-size;
        }
    }

    main {
        padding: var(--space) 0;
    }

    .logoText {
        font-size: 24px;
    }

    .mobile {
        .showOnMobile {
            display: inline-flex;
        }
        .hideOnMobile {
            display: none;
        }
        header {
            .headerInner {
                width: 90% !important;
                min-width: 90% !important;
                max-width: 90% !important;
                .headerEnd {
                    align-self: stretch;
                    .menuToggle {
                        height: 100%;
                        .menuToggleIcon {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .mobileNav {
            ul {
                grid-gap: 0 !important;
                .medFont {
                    width: 100%;
                    font-size: 16px;
                    justify-content: flex-start;
                }
            }
        }
        footer {
            .footerInner {
                width: 95%;
            }
        }
    }

    body {
        &:has(.menuExpanded) {
            header {
                grid-gap: 10px !important;
                padding-bottom: var(--space);
                border-bottom: 1px solid var(--main);
            }
            .mobileNavContainer {
                width: 100%;
                display: inline-flex;
                .mobileNav {
                    .showOnMobile {
                        display: none;
                    }
                    .hideOnMobile {
                        display: inline-flex;
                    }
                }
                nav {
                    ul {
                        align-items: stretch;
                        flex-direction: column;
                        .navigationLink {
                            transition: var(--transition);
                            border-top: 1px solid var(--main);
                            a {
                                width: 100%;
                                grid-gap: 20px;
                                padding: 10px 75px;
                                justify-content: flex-end;
                                transition: var(--transition);
                            }
                            svg {
                                path {
                                    transition: var(--transition);
                                }
                            }
                            &:hover {
                                background: var(--main);
                                a {
                                    color: white;
                                }
                                svg {
                                    path {
                                        fill: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    $itm_hght: 35px;
    .itemButton {
        background: var(--bg) !important;
        &.thiccBtn {
            min-height: $itm_hght;
            &.itemDeleteButton {
                min-width: 40px !important;
                .itemDeleteIcon {
                    pointer-events: none;
                }
            }
        }
    }

    @container (min-width: #{$mobileBreakPoint875 + 1}) {
        .boardComponent {
            top: 22px;
            .dndBoardListContext {
                --dnd_offset: 250px !important;
            }
        }
    }

    @container (max-width: #{$mobileBreakPoint875}) and (min-width: 501px) {
        .boardComponent {
            top: 20px;
            .boardListPaginationDots {
                top: 8px;
            }
        }
    }

    @container (max-width: #{$mobileBreakPoint7}) {
        .dialogContent {
            --space: 12px;
            .dialogTitleName {
                max-width: 89px !important;
            }
        }
        .boardPage {
            &:has(.menuExpanded) {
                .dndBoardListContext {
                    --dnd_offset: 365px !important;
                }
            }
        }
        .boardComponent {
            --wdth: 95%;
        }
        .boardFormField {
            --hght: 28px;
            min-height: var(--hght) !important;
            max-height: var(--hght) !important;
            input {
                padding-left: 10px !important;
                min-height: var(--hght) !important;
                &.nameField {
                    max-width: 70px !important;
                }
            }
        }
        .Toastify__toast-container {
            .Toastify__toast {
                width: 95%;
            }
        }
        .itemInner {
            gap: 7px !important;
        }
        .listTitle {
            padding: 2px 10px 0 !important;
            margin: 25px auto 0 !important;
        }
        .formRow {
            padding: 7px 10px 10px !important;
        }
        .itemName {
            font-size: 16px;
        }
        .itemNameStatusDescription {
            width: 100%;
        }
        .itemDescription {
            font-size: 14px;
        }
        .itemContent {
            --tag_height: 22px;
            padding: 0;
            grid-gap: 7px;
            flex-direction: column;
            align-items: flex-start;
            .statusTag {
                max-height: var(--tag_height);
            }
            .itemButton {
                max-height: var(--tag_height);
                div {
                    max-height: var(--tag_height);
                }
            }
            .itemNameStatusRow {
                justify-content: space-between;
            }
            .itemEnd {
                width: 100%;
                grid-gap: 7px;
                .itemButton {
                    --tag_height: 28px;
                    min-height: var(--tag_height) !important;
                }
                .statusTag  {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    @container (max-width: #{$mobileBreakPoint585}) {
        .logoText {
            font-size: 21px;
        }
    }
    
    @container (max-width: #{$mobileBreakPoint515}) {
        .logoText {
            font-size: 19px;
        }
        .medFont {
            font-size: 18px;
        }
    }

    @container (max-width: #{$mobileBreakPoint480}) {
        .logoText {
            font-size: 18px;
        }
        .medFont, .smallFont {
            font-size: 14px;
        }
    }
   
    @container (max-width: #{$mobileBreakPoint435}) {
        .isPWA {
            .boardComponent {
                top: 0;
                .dndBoardListContext {
                    --dnd_offset: 260px !important;
                }
            }
            &:has(.menuExpanded) {
                .boardComponent {
                    .dndBoardListContext {
                        --dnd_offset: 385px !important;
                    }
                }
            }
        }
        .stockMetricLabel {
            font-size: 15px;
        }
        .itemNameStatusRow {
            grid-gap: 5px;
            flex-direction: column;
            align-items: flex-start;
            .statusTag {
                width: 100%;
                margin-left: 0 !important;
                button {
                    width: 100%;
                }
            }
        }
    }
}