$mobileBreakPoint3: 320px;
$mobileBreakPoint4: 400px;
$mobileBreakPoint425: 425px;
$mobileBreakPoint480: 480px;
$mobileBreakPoint515: 515px;
$mobileBreakPoint585: 585px;
$mobileBreakPoint6: 687px;
$mobileBreakPoint7: 768px;

$tabletBreakPoint9: 992px;
$tabletBreakPoint10: 1080px;

$laptopBreakPoint12: 1200px;
$laptopBreakPoint13: 1366px;

$desktopBreakPoint16: 1600px;
$desktopBreakPoint19: 1920px;

.showOnMobile {
    display: none;
}

html {
    container-type: inline-size;

    body {
        container-type: inline-size;
        grid-template-rows: auto 1fr 60px;
    }

    header {
        height: 60px;
        padding-top: 10px;
        overflow-y: hidden;
        container-type: inline-size;
        transition: height var(--transition);
        justify-content: flex-start !important;
        .headerInner {
            height: unset;
            max-height: 60px;
            min-height: unset;
            container-type: inline-size;
        }
    }

    main {
        padding: var(--space) 0;
    }

    .logoText {
        font-size: 24px;
    }

    body {
        &:has(.menuExpanded) {
            header {
                height: 148px;
                grid-gap: 10px !important;
                padding-bottom: var(--space);
            }
            .mobileNavContainer {
                width: 100%;
                display: inline-flex;
                .mobileNav {
                    .showOnMobile {
                        display: none;
                    }
                    .hideOnMobile {
                        display: inline-flex;
                    }
                }
                nav {
                    ul {
                        align-items: stretch;
                        flex-direction: column;
                        .navigationLink {
                            padding: 10px 25px;
                            transition: var(--transition);
                            border-top: 1px solid var(--main);
                            a {
                                grid-gap: 20px;
                                transition: var(--transition);
                            }
                            svg {
                                path {
                                    transition: var(--transition);
                                }
                            }
                            &:hover {
                                background: var(--main);
                                a {
                                    color: white;
                                }
                                svg {
                                    path {
                                        fill: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @container (max-width: #{$mobileBreakPoint585}) {
        .logoText {
            font-size: 21px;
        }
    }
    
    @container (max-width: #{$mobileBreakPoint515}) {
        .logoText {
            font-size: 19px;
        }
        .medFont {
            font-size: 18px;
        }
    }

    @container (max-width: #{$mobileBreakPoint480}) {
        .logoText {
            font-size: 16px;
        }
        .medFont {
            font-size: 14px;
        }
        header {
            .headerInner {
                width: 90% !important;
                min-width: 90% !important;
                max-width: 90% !important;
                .headerEnd {
                    align-self: stretch;
                    .menuToggle {
                        height: 100%;
                        .menuToggleIcon {
                            height: 100%;
                            font-size: 28px !important;
                        }
                    }
                }
            }
        }
        .mobileNav {
            ul {
                grid-gap: 0;
                .medFont {
                    width: 100%;
                    font-size: 16px;
                    justify-content: flex-start;
                }
            }
        }
    }

    @container (max-width: #{$mobileBreakPoint425}) {
        .showOnMobile {
            display: inline-flex;
        }
        .hideOnMobile {
            display: none;
        }
    }
}