.stockQtyColCalc {
    --mw: 190px;
    min-width: var(--mw) !important;
    max-width: var(--mw) !important;
}

.currentEquityCol {
    --mw: 180px;
}

.stocksComponentSlider {
    container-type: inline-size;
    @media (max-width: 1600px) {
        .stockStatLastUpdated {
            display: none;
        }
    }
    @media (max-width: 1400px) {
        .stockStatUpdates {
            display: none;
        }
    }
}

.stocksMainContainer {
    &:not(:has(.stocksSearchField)) {
        padding-top: 115px;
        .stocksContainer {
            --w: 99%;
            .slider {
                --stockSliderHeight: 745px;
            }
        }
    }
}

.inactiveButton {
    font-weight: 700;
    color: var(--main);
    background: white;
    transition: var(--transition);
}