:root {
    --mui_blue: #1976d2;
}

.table {
    position: relative;
    padding-right: 0px;
    position: relative;
    border: 1px solid var(--buttons);
    border-right-width: 2px !important;
    .table_header {
        top: 13px;
        left: 13px;
        z-index: 1;
        position: absolute;
    }
}

.tableDropDown {
    top: -2px;
    width: 100%;
    font-size: 13px !important;
    justify-content: space-between !important;
}