:root {
    // Spacing
    --space: 24px;
    
    // Sizing
    --largeFont: 27px;
    --fontWeight: 600;
    --borderRadius: 5px;

    // Colors
    // whites
    --white: white;
    
    // greens
    --teal: #3fa5e3;
    --success: #13deb9;
    
    // blues
    --blue: #0082c6;
    --gameBlue: #00c2ff;
    --bluedark: #04397b;
    --bluelight: #00a7ff;
    --blueactive: #0d62b1;
    --bluelighter: #009eff;
    --blueneonDark: #009fd4;
    --blueactivedark: #0057a8;
    --blueneon: rgb(0, 191, 255);
    --blueopac: rgb(0, 191, 255, 0.7);

    // navies
    --navy: #041b44;
    --dark-navy: #00091b;

    // silver
    --soft-silver: #aaaaaa;

    // blacks
    --black: black;
    --blackGlass: rgba(0, 0, 0, 0.75);

    // glass
    --lightGlass: rgba(255, 61, 0, 0.2);
    --darkGlass: rgba(0, 194, 255, 0.2);

    // colors
    --bg: var(--bluedark);
    --buttons: var(--blue);
    --main: var(--blueneon);
    --links: var(--blueneon);
    --disabled: var(--soft-silver);

    --blackGrayGradient: linear-gradient(180deg, #1f1f1f, #171717);

    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
    --transitionalt: cubic-bezier(0.77, 0.2, 0.05, 1) !important;

    // Fonts
    --font: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif;
}

body {
    --background: var(--bg);
    header, footer {
        z-index: 1;
        background: var(--bg);
    }
}

::placeholder {
    color: var(--disabled);
    font-family: var(--font);
}

main {
    background: var(--navy);
}

.main {
    color: var(--main);
}

.mainbg {
    background: var(--main);
}

.colorwhite {
    color: white;
}

h1 {
    font-size: var(--largeFont);
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
}

.smallFont {
    font-size: 16px;
}

.medFont {
    font-size: 20px;
}

.largeFont {
    font-size: var(--largeFont);
}

.flexContainer {
    display: flex;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}

.linkHover {
  color: var(--links);
  transition: var(--transition);
  &:not(.pointerEventsNone) {
    &:hover {
        color: var(--links);
        filter: brightness(1.15);
    }
  }
}

a {
  font-weight: 600;
  @extend .linkHover;
  text-decoration: none;
}

button {
    --color: var(--buttons); 

    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 3px;
    font-family: var(--font);

    @extend .flexContainer;
    
    color: white;
    background: var(--color);
    transition: var(--transition);
    &:hover {
        filter: brightness(1.15);
        box-shadow: 0 0 3px var(--color);
    }
}

blockquote {
    color: white;
    font-style: italic;
    padding-left: 1rem;
    border-left: 4px solid var(--main);
}

::-webkit-scrollbar {
    width: 1px !important;
    background: var(--background) !important;
}

::-webkit-scrollbar-thumb {
    background: var(--gameBlue);
}