.stockPositionStart {
    justify-content: space-between;
}

// .robinhoodTokenFieldInput {
//     max-width: 250px;
// }

.mergedPosition {
    .stockPositionStart {
        .robinhoodStockPositionAccountTypes {
            grid-gap: 4px;
            display: flex;
            font-size: 15px;
            align-items: end;
            flex-direction: column;
        }
    }
    .stockPositionEnd {
        font-size: 15px !important;
    }
}

.stockPositionStatLabel {
    display: flex;
    grid-gap: 15px;
    align-items: center;
}

.stockStat {
    font-size: 0.65em;
    i {
        display: flex;
        grid-gap: 5px;
        align-items: center;
    }
}

.stocksMainContainer {
    padding-top: 100px;
}

.stocksContainer {
    --w: 98%;
}

.avgEquityCol {
    min-width: 225px;
}

.currentEquityCol {
    min-width: 240px;
}

.profitLossCol {
    min-width: 125px;
}

.stockMetricsSingleColumnCentered {
    justify-content: center;
    grid-template-columns: repeat(1, auto) !important;
}

.stockMetricCount {
    font-size: 0.8em;
}

.stockColMinHeight {
    min-height: 42px;
}

.singlePosition {
    .stockPositionEnd {
       @extend .stockColMinHeight;
       &.stockPositionEndQField {
           justify-content: center;
       }
    }
}

.stockColValue {
    display: flex;
    align-items: center;
}

.stockMetrics {
    gap: 15px;
    width: 100%;
    display: grid;
    font-size: 18px;
    padding: 0 0 15px;
    &:not(.w100) {
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 880px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .stockMetric {
        display: flex;
        grid-gap: 5px;
        flex-direction: column;
        .subMetric {
            font-size: 16px;
            padding-left: 25px;
        }
    }
}

.stockBadgeComponent {
    span {
        top: 10px;
        right: 15px;
        padding: 0 14px;
        font-size: 10px;
        max-height: 16px;
        font-weight: 600;
        &.lefted {
            left: 15px;
        }
    }
}

.stockMetricsTableContainer {
    border-radius: 4px;
    padding: 10px 0 15px;
    border: 2px solid var(--links);
}

.stockTableRow {
    padding-left: 10px;
    padding-right: 10px;
}

.stockTableRowCols {
    padding-top: 5px;
    &:nth-child(odd) {
        background: var(--dark-navy);
    }
}