.stockMetricsSingleColumnCentered {
    justify-content: center;
    grid-template-columns: repeat(1, auto) !important;
}

.stockMetricCount {
    font-size: 0.8em;
}

.stockColValue {
    display: flex;
    min-height: 42px;
    align-items: center;
}

.stockMetrics {
    gap: 15px;
    width: 100%;
    display: grid;
    font-size: 18px;
    padding: 0 0 15px;
    &:not(.w100) {
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 880px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .stockMetric {
        display: flex;
        grid-gap: 5px;
        flex-direction: column;
        .subMetric {
            font-size: 16px;
            padding-left: 25px;
        }
    }
}

.stockMetricsTableContainer {
    border-radius: 4px;
    padding: 10px 0 15px;
    border: 2px solid var(--links);
}

.stockTableRow {
    padding-left: 10px;
    padding-right: 10px;
}

.stockTableRowCols {
    padding-top: 5px;
    &:nth-child(odd) {
        background: var(--dark-navy);
    }
}