.dialogDefaultTitlePadding {
    padding: 16px var(--space);
}

.smallDataField {
    max-width: 250px;
}

.dialogContent {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    min-height: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .dialogRow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dialogTitle {
        min-width: 280px;
        font-family: var(--font);
        padding: 16px var(--space);
        .dialogTitleName {
            width: 100%;
            max-width: 139px;
        }
        .statusTag {
            padding: 6px 33px !important;
        }
    }
    .dialogCloseButton {
        padding-right: var(--space);
    }
    .dialogTitleIndex {
        grid-gap: 5px;
        max-width: fit-content;
    }
    .dialogButton {
        font-family: var(--font);
        background: var(--buttons);
    }
    .simpleFieldGroup {
        p {
            top: 1px;
            position: relative;
        }
    }
    .dialogField {
        justify-content: flex-start;
    }
    .dialogCenterContent {
        container-type: inline-size;
        @container (max-width: 995px) {
            p {
                font-size: 12px;
            }
            .dialogFieldGroup {
                grid-gap: 10px;
                flex-direction: column;
                &:not(:first-child) {
                    padding-top: 10px;
                }
            }
        }
    }
}