.autocomplete-root {
  width: 100%;
  margin: 1rem auto;
  position: relative;
  font-family: var(--font);
}

.autocomplete-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
//   font-family: var(--font);
}

.autocomplete-input-wrapper {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 6px;
  border-radius: 4px;
  align-items: center;
  background: white;
  transition: var(--transition);
  &.focused {
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
  }
}

.autocomplete-input {
  flex-grow: 1;
  border: none;
  padding: 6px;
  outline: none;
  color: black;
  font-size: 16px;
  min-width: 120px;
  background: transparent;
}

.autocomplete-tag {
  display: flex;
  margin: 3px;
  color: #333;
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 3px;
  align-items: center;
  background: #e0e0e0;
//   font-family: var(--font);

  span {
    color: black;
    font-size: 16px;
    max-width: 120px;
    overflow: hidden;
    margin-right: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  svg {
    cursor: pointer;
  }
}

.autocomplete-listbox {
  padding: 0;
  z-index: 10;
  width: 100%;
  border: none;
  margin-top: 4px;
  overflow-y: auto;
  list-style: none;
  max-height: 200px;
  border-radius: 4px;
  position: absolute;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@mixin activeOption {
    background: var(--buttons);
    span {
        color: white;
    }
}

.autocomplete-option {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  align-items: center;
//   font-family: var(--font);
  transition: var(--transition);
  justify-content: space-between;

  svg {
    color: transparent;
  }

  span {
    color: black;
    transition: var(--transition);
  }

  &[aria-selected='true'] {
    font-weight: 600;

    svg {
      color: #1976d2;
    }
  }

  &.Mui-focusVisible {
    @include activeOption;
  }

  &:hover {
    @include activeOption;
  }
}